* {
    
    box-sizing: content-box;
    
}

.table-section{
    margin-top: 2em;
}
.navbar-right {
    float: right !important;
     margin-right: 0px; 
}
.table-contain{
    padding: 59px;
}
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    
}
.navbar label{
    color: white;
}
.item-img{
    width: 150px;
    object-fit: contain;
}
.addBtn{
    float: right;
}
table {
    background-color: #f8f6f6;
    color: black;
    text-align: center;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #3a4152;
}
.modal-body {
    position: relative;
    padding: 30px;
}
.btn {
    
    padding: 4px 12px;
}
.btn-primary {
    color: #fff;
    font-weight: 600;
    background-color: #f8736b;
    border-color: #f0706a;
    padding: 7px 20px;
    font-size: 16px;
}
input{
    border-radius: 5px;
}
input:focus{
    outline: none;
}

@media (max-width: 991px){
    
    .table-contain{
        padding: 15px;
    }
}
@media(max-width:630px){
    .table>tbody>tr>td {
        padding: 2px;
    }
}