<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#FD746C"
loadingText="Loading..."
type="ball-atom"></ngx-spinner>
<section class="container table-section">
  <div class="table-contain">
    <nav class="navbar navbar-right">
      <label>Search:</label>
      <input type="text" [(ngModel)]="term">     
    </nav>
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th style="display: none"></th>
          <th>Item Id</th>
          <th>Item Name</th> 
          <th>Price</th>
          <th>Photo</th>
          <th>Expire Date</th>
          <th>Action</th>
        </tr>      
      </thead>
      <tbody>
        <tr *ngFor="let item of items[0]| filter:term | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td style="display: none">{{i}}</td>
          <td>{{item.ItemId}}</td>
          <td>{{item.ItemName}}</td> 
          <td>{{item.Price}}</td>
          <td><img class="item-img" src="{{item.Photo}}"></td>
          <td>{{item.ExpireDate | date}}</td>
          <td>
            <button class="btn btn-success" (click)="openModal(template,item.ItemId)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-danger" (click)="openModal2(templateConfirmDel,item.ItemId)"><span class="glyphicon glyphicon-trash"></span></button>
          </td> 
        </tr>    
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary addBtn" (click)="openModal(template)">Add</button>
      <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
    </div>
  </div>
</section>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{form}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
              <input formControlName="ItemName" class="form-control" placeholder="Item Name" [(ngModel)]="itemName">
              <br>
              <input formControlName="Price" class="form-control" placeholder="Item Price" [(ngModel)]="itemPrice"><br>
              <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
              <!--<input formControlName="Photo" class="form-control" placeholder="Item Photo" [(ngModel)]="itemImg"><br>-->
              <br>
              <input 
                     placeholder="Expire Date"
                     class="form-control"
                     #dpMDY="bsDatepicker" bsDatepicker [(ngModel)]="itemDate"
                     formControlName="ExpireDate"
                     [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                     ><br>
        </form>
      <button type="button" *ngIf="submetNew" class="btn btn-primary" (click)="openModal2(templateConfirmAdd)">Save</button>
      <button type="button" *ngIf="submetUpdate" class="btn btn-primary" (click)="openModal2(templateConfirmEdit)">Save</button>
    </div>
  </ng-template>
   
  <ng-template #templateConfirmEdit>
    <div class="modal-body text-center">
      <p>Do you want to confirm Editing?</p>
      <button type="button" class="btn btn-primary" (click)="confirmEdit()" >Yes</button>
      <button type="button" class="btn btn-default" (click)="declineEdit()" >No</button>
    </div>
  </ng-template>
  <ng-template #templateConfirmAdd>
    <div class="modal-body text-center">
      <p>Do you want to confirm Adding new item?</p>
      <button type="button" class="btn btn-primary" (click)="confirmAdd()" >Yes</button>
      <button type="button" class="btn btn-default" (click)="declineAdd()" >No</button>
    </div>
  </ng-template>
  <ng-template #templateConfirmDel>
    <div class="modal-body text-center">
      <p>Do you want to confirm Deleting this item?</p>
      <button type="button" class="btn btn-primary" (click)="confirmDel()" >Yes</button>
      <button type="button" class="btn btn-default" (click)="declineDel()" >No</button>
    </div>
  </ng-template>
